@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #F97316;
  --color-primary-light: #FF8C42;
  --color-secondary: #3B82F6;
  --color-background: #0A0A0F;
  --color-surface: #18181B;
  --color-title: #F4F4F5;
  --color-subtitle: #A1A1AA;
  --color-neutral: #27272A;
  --spacing-element: 0.2rem;
  --spacing-component: 0.5rem;
  --spacing-card: 1rem;
  --spacing-container: 2rem;
  --spacing-section: 4rem;
}

* {
  box-sizing: border-box;
}

.page-container {
  @apply px-container;
}

.section-title {
  @apply text-3xl font-semibold text-center text-title underline m-container;
}

.btn-primary {
  @apply text-title py-element px-component md:py-card md:px-container rounded-xl bg-primary hover:bg-primary-light hover:scale-105 transition;
}

.btn-secondary {
  @apply border text-title py-element px-component md:py-card md:px-container rounded-xl;
}


.movie-grid {
  @apply grid w-full gap-card;
  grid-template-columns: repeat(auto-fill,
      minmax(260px, 1fr));
}

.card-spacing {
  transition: padding 0.2s;
}

.card-content {
  padding-top: 80px;
  padding-left: 12px;
  padding-right: 12px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 12%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 12%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 12%);
  height: 100vh;
}

.movie-card:hover .card-content {
  transform: translateY(-200px);
}


.active-pagination-btn {
  @apply bg-primary text-title rounded px-card py-component underline flex items-center hover:bg-primary-light hover:scale-105 transition
}

.inactive-pagination-btn {
  @apply text-subtitle rounded px-card py-component underline flex items-center
}
