<section class="mt-section mx-auto text-center prose">
  <h1 class="text-title font-extrabold text-5xl md:text-6xl mb-card">828 Películas x 10 USD</h1>
  <p class="text-subtitle md:text-2xl">Te enviamos nuestro catálogo completo de películas a cualquier grupo o canal de Telegram, sin anuncios, sin enlaces de por medio, SOLO ARCHIVOS. Todo por un pago único de 10 USD (aceptamos múltlipes métodos de pago).</p>
  <div class="flex justify-evenly flex-col md:flex-row gap-card mt-container">
    <!-- <a class="btn-secondary"><button>Ver catálogo</button></a> -->
    <a class="btn-primary" href="https://t.me/peliculasespanolfree/1481"><button>Comprar catálogo</button></a>
  </div>
</section>
