---
const { page } = Astro.props;
---
<div class="flex justify-evenly space-x-2 my-container">
  <!-- Previous Button -->
  <a href={page.url.prev} class={page.url.prev ? "active-pagination-btn" : "inactive-pagination-btn"}>
    <svg class="w-4 h-4 me-1.5 -ms-0.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/></svg>
    Anterior
  </a>

  <!-- Next Button -->
  <a href={page.url.next} class={page.url.next ? "active-pagination-btn" : "inactive-pagination-btn"}>
    Siguiente
    <svg class="w-4 h-4 ms-1.5 -me-0.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
  </a>
</div>
