---
import '../styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Movie Manager</title>
	</head>
  <body class="px-container absolute top-0 z-[-2] h-screen w-screen bg-background bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]">
   	<slot />
	</body>
</html>
